*{
    margin: 0;
    font-family: Times;
    scroll-behavior: smooth;
}
.flexBox{
    display: flex;
    flex: 1;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mainButton{
    padding: 0.5%;
    font-size: 2.25vw;
}
.color{
    font-size: 3.25vw;
}
.down{
    margin-top: 35vh;
}
.down2{
    margin-top: 7vh;
}

